# API Source URL
NEXT_PUBLIC_API_URL="https://opentdb.com/api.php?amount=5&category=18&type=multiple"

# Local Storage Keys
NEXT_PUBLIC_USERS_KEY="quiz_app_users"
NEXT_PUBLIC_CURRENT_USER_KEY="quiz_app_current_user"
NEXT_PUBLIC_QUIZ_HISTORY_KEY="quiz_app_history"
